html
{
	background: url(https://zachdecook.com/posts/congruent_pentagon.png) #A2DFCA;
}
html body
{
	margin: 1em 5%;
	padding: 1em 5%;
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 0 0  10px 1px black;
}

.btn-back.btn-back {
  color: white;
  background-color: #2ddda0;
}

a.featured
{
	display: block;
	text-align: center;
}

img
{
	width: 100%;
	max-width: 500px;
}

#output,
input[name=filename],
label
{
	width: 100%;
}
